<div class="ui labeled icon massive menu">
        <div class="header item">
            <a routerLink="" routerLinkActive="active">Vital Point Academy</a>
        </div>
            <a routerLink="/courses" routerLinkActive="active" class="item"><i class="book icon"></i>Courses</a>
            <a routerLink="/profile" routerLinkActive="active" class="item"><i class="user circle icon"></i>Profile</a>
        <div class="right menu">
            <a routerLink="/admin" routerLinkActive="active" class="item"><i class="wrench icon"></i>Admin</a>
        </div>
</div>
    
<div class="ui four column doubling stackable grid container">

<div class="column">
        <p></p>
        <p></p>
      </div>
      <div class="column">
        <p></p>
        <p></p>
      </div>
      <div class="column">
        <p></p>
        <p></p>
      </div>
      <div class="column">
        <p></p>
        <p></p>
      </div>
</div>
<router-outlet></router-outlet>

