
<div class="ui clearing segment">
        <h5 class="ui right floated header">The current account is: {{ currentAccount }} and it has {{ balanceOf }} courses.</h5>
    <h1 class="ui left floated header">Course Admin</h1>
</div>

<div class="ui very padded centered grid">
    <div class="eight wide column"><app-create-course></app-create-course></div>
    <div class="eight wide column"><app-delete-course></app-delete-course></div>
</div>





   
    
            
    




<div class="ui cards">
        <div class="card" *ngFor="let event of events">
            <div class="content">
            <div class="header">{{ event.returnValues[0] }}</div>
            <div class="meta"></div>
            <div class="description">
                    {{ event.returnValues[1] }}
            </div>
            </div>
        </div>
    </div>

    

    
        



