
<div class="ui clearing segment">
        <h5 class="ui right floated header">The current account is: {{ currentAccount }} and it has {{ balanceOf }} courses.</h5>
    <h1 class="ui left floated header">Create a New Course</h1>
</div>
<div class="ui very padded centered grid">
    <app-create-course></app-create-course>
</div>


<div class="ui cards">
        <div class="card" *ngFor="let event of events">
            <div class="content">
            <div class="header">{{ event.returnValues[0] }}</div>
            <div class="meta"></div>
            <div class="description">
                    {{ event.returnValues[1] }}
            </div>
            </div>
        </div>
    </div>

    

    
        



